<!DOCTYPE html>
<html lang="en">
<head>
    <title>KDK music website</title>
    <meta charset="UTF-8">
    <meta name="description" content="SolMusic HTML Template">
    <meta name="keywords" content="music, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--LOGO-->
    <link href="~/Assets/User/font/font.css" rel="stylesheet" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Assets/User/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/User/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/User/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Assets/User/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/Assets/User/css/style.css" />
    <!-- My StyleSheets-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Admin CSS-->
    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
        <a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)">
            <div class="header-logo">KDK Music</div>
        </a>
        <div class="header-right">
            <a href="#" class="hr-btn">Help</a>
            <span>|</span>
            <div class="user-panel">
                @Html.Action("LoginPartial", "User", null)
            </div>
        </div>
        <ul class="main-menu">
            <li><a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)">Trang chủ</a></li>
            <li>
                <a href="#">Pages</a>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("ShowDisplay", "Genre", null, Request.Url.Scheme)">Thể loại</a></li>
                    <li><a href="@Url.Action("ShowDisplay", "Artist", null, Request.Url.Scheme)">Nghệ sĩ</a></li>
                    <li><a href="@Url.Action("ShowDisplay", "Music", null, Request.Url.Scheme)">Nhạc</a></li>
                    <li style="border-top: 1px solid white;"><a href="@Url.Action("AddMusictoPlaylist", "AddPlaylist", null, Request.Url.Scheme)">Danh sách nhạc tạm thời</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Contact", "Home", null, Request.Url.Scheme)">Liên hệ</a></li>
            <li>
                <a class="search-container">
                    @using (Html.BeginForm("SearchForSong", "Search"))
                    {
                        @Html.TextBox("name", null, new { placeholder = "Nhập từ khóa tìm kiếm" })
                        <input id="search" type="submit" value="Tìm kiếm" />
                    }
                </a>
            </li>
        </ul>
    </header>
    <!-- Header section end -->
    @RenderBody()
    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-lg-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>Về chúng tôi</h2>
                                <ul>
                                    <li><a href="@Url.Action("Contact", "Home", null, Request.Url.Scheme)">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>Sản phẩm</h2>
                                <ul>
                                    <li><a href="@Url.Action("ShowDisplay", "Genre", null, Request.Url.Scheme)">Thể loại</a></li>
                                    <li><a href="@Url.Action("ShowDisplay", "Artist", null, Request.Url.Scheme)">Nghệ sĩ</a></li>
                                    <li><a href="@Url.Action("ShowDisplay", "Music", null, Request.Url.Scheme)">Nhạc</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 order-lg-1">
                    <img src="~/Assets/User/img/home/KDKLOGO.png" alt="">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Được chỉnh sửa | và phát triển <i class="fa fa-heart-o" aria-hidden="true"></i> bởi <a href="https://github.com/Kienpro10082002" target="_blank">KDK MUSIC</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="social-links">
                        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/Assets/User/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/User/js/bootstrap.min.js"></script>
    <script src="~/Assets/User/js/jquery.slicknav.min.js"></script>
    <script src="~/Assets/User/js/owl.carousel.min.js"></script>
    <script src="~/Assets/User/js/mixitup.min.js"></script>
    <script src="~/Assets/User/js/main.js"></script>

    <!-- Audio Players js -->
    <script src="~/Assets/User/js/jquery.jplayer.min.js"></script>
    <script src="~/Assets/User/js/wavesurfer.min.js"></script>

    <!-- Audio Players Initialization -->
    <script src="~/Assets/User/js/WaveSurferInit.js"></script>
    <script src="~/Assets/User/js/jplayerInit.js"></script>

    <!--User dev-->
    <script src="~/Scripts/MyJS/Login.js"></script>

    <!--Admin js and jquery-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/Admin/s/sb-admin-2.min.js"></script>

    <!--Application JS on view-->
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
