@model IEnumerable<KDKmusicWebsite.Models.Song>
@using KDKmusicWebsite.Models

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<p>...</p>
    }
}

@{
    ViewBag.Title = "ShowDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    @@media(max-width: 768px) {
        main {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @@media(max-width: 480px) {
        main {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>

@if (TempData["SuccessMessage"] != null)
{
    <center><div class="alert alert-success">@TempData["SuccessMessage"].ToString()</div></center>
}

<main>
    @foreach (var item in Model)
    {
        <!-- Content -->
        <div class="container d-flex justify-content-center my-4 mb-5">

            <div id="mobile-box">

                <!-- Card -->
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img class="card-img-top" src="@Url.Content(item.Song_Image)"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body text-center">

                        <h5 class="h5 font-weight-bold"><a href="#" target="_blank">@item.Artist.Artist_Name</a></h5>
                        <p class="mb-0">@item.Song_Name</p>

                        <audio controls id="music" preload="metadata">
                            <source src="@Url.Content(item.Song_Path)" type="audio/mp3" />
                        </audio>
                        <!-- Kiểm tra xem người dùng đã đăng nhập hay chưa -->
                        @if (Session["User"] != null)
                        {
                            <!-- Nếu đã đăng nhập, hiển thị nút tải và thêm danh sách -->
                            <a href="@Url.Action("AddMusic", "AddPlaylist", new {@iSong_Id = item.Song_Id, @strUrl = Request.Url.ToString() })" class="btn btn-primary">Thêm danh sách</a>
                        }
                        else
                        {
                            <!-- Nếu chưa đăng nhập, hiển thị nút đăng nhập -->
                            <a href="@Url.Action("AddMusic", "AddPlaylist", new {@iSong_Id = item.Song_Id, @strUrl = Request.Url.ToString() })" class="btn btn-primary">Thêm danh sách</a>
                        }
                        <!-- Khung hiển thị lời bài hát -->
                        <div class="lyrics-container">
                            <p class="lyrics">@Truncate(item.Lyrics, 100)</p>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
        <!-- Content -->
    }
</main>


