@using KDKmusicWebsite.Models
@using PagedList.Mvc;
@model  PagedList.PagedList<KDKmusicWebsite.Models.Country>

@{
    ViewBag.Title = "ShowDisplay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<center><h2>Danh sách quốc gia</h2></center>
<div class="container text-center">
    <p>
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary btnCreate" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Tên quốc gia")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country_Name)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Country_Id }, new { @class = "btn btn-primary btnEdit" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Country_Id }, new { @class = "btn btn-primary btnDelete" })
                </td>
            </tr>
        }

    </table>

    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <div class="pager">
            @if (Model.PageCount > 1)
            {
                <ul>
                    @if (Model.HasPreviousPage)
                    {
                        <li><a href="@Url.Action("ShowDisplay", new { page = Model.PageNumber - 1 })">Previous</a></li>
                    }

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="@(i == Model.PageNumber ? "active" : "")"><a href="@Url.Action("ShowDisplay", new { page = i })">@i</a></li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li><a href="@Url.Action("ShowDisplay", new { page = Model.PageNumber + 1 })">Next</a></li>
                    }
                </ul>
            }
        </div>
    </div>
</div>