@using KDKmusicWebsite.Models
@model List<KDKmusicWebsite.Models.Playlist>

@{
    ViewBag.Title = "ShowPlaylists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Playlist-content {
        display: inline-block;
        color: aqua;
    }

        .Playlist-content:hover {
            color: blue;
        }
</style>

<h1>Các playlist đã lưu</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"].ToString()</div>
}
@if (Session["User"] != null)
{
    foreach (var playlist in Model)
    {
        <div class="Playlist-content">
            <a href="@Url.Action("ShowPlaylistsSong", "AddPlaylist", new { Playlist_id = playlist.Playlist_Id })">@playlist.Playlist_Name</a>
            <a href="@Url.Action("delPlaylist", "AddPlaylist", new { Playlist_id = playlist.Playlist_Id })">| Xóa</a>
        </div>
        <br />
    }
}
else
{
    <a href="@Url.Action("Login", "User", null, Request.Url.Scheme)" class="btn btn-primary">Đăng nhập để xem danh sách nhạc của bạn</a>
}
