
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main class="container text-center">
    <div class="col">
        <h4>
            Quản lý tài khoản quản trị và người dùng
        </h4>
        <hr />
        <div class="btn btn-primary">
            <a class="anchor" href="@Url.Action("ShowDisplay", "Admin_Manager", null, Request.Url.Scheme)">Tài khoản quản trị</a>
        </div>
        <div class="btn btn-primary">
            <a class="anchor" href="@Url.Action("ShowDisplay", "User_Manager", null, Request.Url.Scheme)">Tài khoản người dùng</a>
        </div>
    </div>
    <div class="col">
        <h4>Quản lý thông tin quốc gia và nghệ sĩ</h4>
        <hr />
        <div class="btn btn-primary">
            <a class="anchor" href="@Url.Action("ShowDisplay", "Admin_Country", null, Request.Url.Scheme)">Quốc gia</a>
        </div>
        <div class="btn btn-primary">
            <a class="anchor" href="@Url.Action("ShowDisplay", "Admin_Artist", null, Request.Url.Scheme)">Nghệ sĩ</a>
        </div>
    </div>
    <div class="col">
        <h4>Quản lý thư viện âm nhạc</h4>
        <hr />
        <div class="btn btn-primary">
            <a class="anchor" href="@Url.Action("ShowDisplay", "Admin_Genre", null, Request.Url.Scheme)">Thể loại</a>
        </div>
        <div class="btn btn-primary">
            <a class="anchor" href="@Url.Action("ShowDisplay", "Admin_Music", null, Request.Url.Scheme)">Âm nhạc</a>
        </div>
    </div>
    <div class="col">
        <h4>Quản lý tương tác người dùng</h4>
        <hr />
        <div class="btn btn-primary">
            <a class="anchor" href="@Url.Action("ShowDisplay", "Interaction_Manager", null, Request.Url.Scheme)">Xem lượng tương tác</a>
        </div>
    </div>
</main>
