@model KDKmusicWebsite.Models.Song

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<center><h2>Chỉnh sửa thông tin bài hát</h2></center>


@using (Html.BeginForm("Edit", "Admin_Music", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Song_Id)

        <div class="form-group">
            @Html.Label("Tên bài hát")
            @Html.TextBoxFor(model => model.Song_Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Song_Name)
        </div>

        <div class="form-group">
            @Html.Label("Tên nghệ sĩ")
            @Html.DropDownListFor(model => model.Artist_Id, (SelectList)ViewBag.ArtistList, "Chọn nghệ sĩ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Artist_Id)
        </div>

        <div class="form-group">
            @Html.Label("Thuộc Albums")
            @Html.DropDownListFor(model => model.Album_Id, (SelectList)ViewBag.AlbumList, "Chọn Album", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Album_Id)
        </div>

        <div class="form-group">
            @Html.Label("Thuộc thể loại")
            @Html.DropDownListFor(model => model.Genre_Id, (SelectList)ViewBag.GenreList, "Chọn thể loại", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Genre_Id)
        </div>

        <div class="form-group">
            @Html.Label("File hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <img id="imgPreview" src="#" alt="Preview Image" />
            <div class="col-md-10">
                <input type="file" name="songImageFile" id="fileUpLoad" accept="image/jpeg, image/png, image/jpeg" onchange="previewImage();" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("File nhạc mp3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="songFile" id="songFile" accept="audio/mp3" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lyrics)
            @Html.TextAreaFor(model => model.Lyrics, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Lyrics)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Assets/Mine/js/main.js")
}
