@using KDKmusicWebsite.Models
@using PagedList.Mvc;
@model PagedList.PagedList<KDKmusicWebsite.Models.Music_Genre>

@{
    ViewBag.Title = "ShowDisplay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container text-center">
    <center style="margin: 5px auto"><h2 style="font-style: inherit;">DANH SÁCH QUỐC GIA</h2></center>
    @using (Html.BeginForm("Search", "Admin_Genre"))
    {
        <p>
            @Html.TextBox("searchString", null, new { placeholder = "Nhập từ khóa tìm kiếm" })
            <input type="submit" value="Tìm kiếm" />
        </p>
    }
    <a href="@Url.Action("Create")" class="btn">Thêm mới</a>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Tên thể loại")
            </th>
            <th>@Html.DisplayName("Mã thể loại")</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre_Name)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Genre_Id)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Genre_Id })" class="btn" style="background-color: darkgreen;">Sửa</a>
                    |||
                    <a href="@Url.Action("Delete", new { id = item.Genre_Id })" class="btn" style="background-color: darkred;">Xóa</a>
                </td>
            </tr>
        }
    </table>

    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <div class="pager">
            @if (Model.PageCount > 1)
            {
                <ul>
                    @if (Model.HasPreviousPage)
                    {
                        <li><a href="@Url.Action("ShowDisplay", new { page = Model.PageNumber - 1 })">Previous</a></li>
                    }

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="@(i == Model.PageNumber ? "active" : "")"><a href="@Url.Action("ShowDisplay", new { page = i })">@i</a></li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li><a href="@Url.Action("ShowDisplay", new { page = Model.PageNumber + 1 })">Next</a></li>
                    }
                </ul>
            }
        </div>


    </div>

</div>
